*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    /* max-height: 400px; */
    justify-content: center;
    padding-top: 200px;
    padding-left: 45%;
}
.container h1{
    font-size: larger;
    color: white;
}
input{
    padding-left: 10px;
    width: 250px;
    border-radius: 5px;
    height: 25px;
    margin-top: 30px;
    margin-left: -30px;
}
#add-btn{
    margin-top: 20px;
    padding: 5px 30px;
    border-radius: 5px;
    margin-left: 40px;
    color: rgb(10, 9, 9);
    font-weight: bolder;
    background-color: rgb(201, 156, 228);
}
#add-btn:hover{
    background-color: rgb(93, 9, 141);
    color: white;
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
    color: grey;
}
.rm-btn{
    padding: 5px 5px;
    border-radius: 5px;
    background-color:  rgb(201, 156, 228);
    margin-left: 100px;
}
#list{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    list-style-type: none;
    max-height: 200px;
    overflow-y: auto;
}
.rm-btn:hover{
    cursor: pointer;
    background-color: rgb(236, 14, 14);
    color: white;
}
.li{
    color: white;
}
/*  adjustment 320px */
/* @media(max-width:320px){
    body{
        background-image: none;
    }
    .container{
        padding-top: 100px;
        padding-left: 25%;
    }
    .container h1{
        padding-left: 20px;
        font-size: small;
        color: rgb(228, 68, 220);
    }
    input{
        width: 200px;;
    }
    #list{
        color: rgb(228, 68, 220);
    }
    li{
        margin-left: -30px;
    }
    
} */